body {
    padding-right: 0px;
    box-sizing: content-box;
  }

.container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 200px;
  
}
.wrapper{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.item1{/*ν—¤λ”*/
    grid-column: 1/ span 5 ;
    
  
}


.item2{/*ν‘Έν„°*/
    grid-column: 1/ span 6;
    
    
}


.item3{
    grid-column: 1/ span 5;   

}

.item4{
    grid-column: 1/ span 4;
   

}    

.item5{
    grid-column: 1/ span 4;
   

} 


