.header{
    width: 100%;
    grid-column: 1/ 5 ;
    justify-content: space-around;
    

}

.layoutcontainer{    
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 1fr 100px;
    justify-content: center
    
}

.wrapper{
    
    justify-content: center;
    align-items: center;

}


.main{
    grid-column: 2;
    align-items: center;
    

}

.Footer {    
    grid-column: 1/6; 
    grid-row: 5;  
   
}

