.Header{
    grid-column: 1/ 6 ;
}

.container{
    
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 500px 200px;    
    max-height: 800vh;
    
}

.container > div {
    display: grid;
    justify-items: center;
    align-items: stretch;
    justify-items: stretch;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

}


.main{
    grid-column: 1/6;
    align-items: center;
    

}

.Footer {    
    grid-column: 1/6; 
    grid-row: 4;  
   
}

