body {
    padding-right: 00px;
    box-sizing: content-box;
  }

.container{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 200px;
  
}
.wrapper{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.item1{/*헤더*/
    grid-column: 1/ span 1 ;
  
}

.item2{/*네비바*/
    grid-column: 2/ span 3 ;
    grid-row: 1;

}

.item3{/*로그인*/
    grid-column: 5/ span 2 ;
    grid-row: 1;   
  
}

.item4{/*푸터*/
    grid-column: 1/ span 6;
}


.item5{
    grid-column: 2/ span 4;   

}

.item6{
    grid-column: 1/ span 4;
   

}    

.item7{
    grid-column: 1/ span 4;
   

} 


