.ChartHeader{
    grid-column: 1/ 6 ;
}

.Chartcontainer{
    display: grid;
    grid-template-columns: 200px ;

    justify-content: center

}

.item6{/*헤드차트*/
    grid-column: 1/ 6;
    -ms-grid-column-span: span 6 ;
   

}

.item7{/*앱1*/
    grid-column: 1/ span 1;
   

}   
.item8{/*앱2*/
    grid-column: 2/ span 1;
   

}   
.item9{/*앱3*/
    grid-column: 3/ span 1;
   

}   
.item10{/*앱4*/
    grid-column: 4/ span 1;
   

}    

.item11{/*스택차트*/
    grid-column: 1/ span 2;
   

} 

.item12{/*메인차트*/
    grid-column: 3/ span 2;
   

}

