.container{
    display: grid;
    grid-template-columns: 200px ;
    display: -ms-grid;

}


.item8{/*헤드차트*/
    grid-column: 1/ 6;
    -ms-grid-column-span: span 6 ;
   

}

.item9{/*앱1*/
    grid-column: 1/ span 1;
   

}   
.item10{/*앱2*/
    grid-column: 2/ span 1;
   

}   
.item11{/*앱3*/
    grid-column: 3/ span 1;
   

}   
.item12{/*앱4*/
    grid-column: 4/ span 1;
   

}    

.item13{/*스택차트*/
    grid-column: 1/ span 2;
   

} 

.item14{/*메인차트*/
    grid-column: 3/ span 2;
   

}


