.QnA-table{
    width: 80%;
    margin: 0 auto;    
    border-spacing: 0;
}

.QnA-table-header-column{
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    font-size: 16px;
    padding: 10px 5px;
    font-weight: bold;
}

.QnA-table-row:hover{
    background-color: #eceaea;
    cursor: pointer;
}

.QnA-table-column{
    padding: 10px 5px;
}