
.Mapcontainer{    
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    
  
}

.item14{/*옵션*/
    grid-column: 1;
    grid-row: 2;
}

.item15{/*맵*/
    grid-column: 1/ 5;
    grid-row: 3;
}


.item16{/*맵인포*/
    grid-column: 1/ 5;
    grid-row: 4;
    
}

